# Archivos de ayuda
HELP.md

# Carpetas de compilación de Maven
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### IDEs y herramientas ###

# STS
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

# IntelliJ IDEA
.idea
*.iws
*.iml
*.ipr

# NetBeans
/nbproject/private/
/nbbuild/
/dist/
.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

# VS Code
.vscode/

### Archivos de Java y logs ###
# Archivos de crash de Java
hs_err_pid*
replay_pid*
*.log

# Archivos compilados
*.class

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Paquetes / artefactos
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar
